.homepage{
  margin:0px;
  padding:0px;
}

.title {
    color: #5269af;
    font-family: Outfit;
    font-size: 62.896px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 597.515px;
    height: 338.742px;
    flex-shrink: 0;
    margin-top: 194.88px;
    margin-left: 88.95px;
  }

hr{

  width: 100%;          /* Make the line full width */
  margin: 0;            /* Remove any default margin */
  border: none;         /* Remove any default border */
  height: 1px;          /* Set the thickness of the line */
  background-color: #333;
  padding:0px;
}