.title {
    color: #5269af;
    font-family: Outfit;
    font-size: 62.896px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 597.515px;
    height: 338.742px;
    flex-shrink: 0;
    margin-top: 194.88px;
    margin-left: 88.95px;
  }
  