* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* HEADER SECTION */

.MenuBar {
  display: flex;
  align-items: center;
  height: 16.46vh;
}

#topKsea {
  color: #3954a5;
  font-family: "Archivo Black";
  font-size: 53.911px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 170.719px;
  height: 71.882px;
  flex-shrink: 0;
  margin-left: 1.4vw;
}

.ksealogo {
  width: 43.129px;
  height: 44.926px;
  flex-shrink: 0;
  margin-left: 5.5vw;
  display: block;
}

.vertical-line {
  width: 1.797px;
  height: 38.636px;
  background-color: #3954a5;
  margin-left: 1.35vw;
}

.umich {
  color: #3954a5;
  font-family: "Outfit";
  font-size: 15.275px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 92.547px;
  height: 37.738px;
  flex-shrink: 0;
  margin-left: 1.5vw;
  margin-right: 13.06vw;
}

.navigation a {
  text-decoration: none;
  color: #3954a5;
  font-family: "Montserrat";
  font-size: 17.97px;
  width: 88.055px;
  height: 17.072px;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 5.61vw;
}
.navigation :last-child{
  margin-right:0px;
}

.navigation a:hover {
  text-decoration: underline;
}


.iglogo {
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  margin-left: 4.61vw;
}

/* END OF HEADER */

.line {
  border: none;
  height: 1.984px; /* Set the height of your line */
  background-color: #3954a5; /* Set the color of your line */
  width: 100%; /* Ensures the line is full width */
  margin-top: 0.125vh;
}


/* MAIN SECTION */
.main-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #5269af;
  font-family: "outfit";
  font-size: 62.896px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 597.515px;
  height: 338.742px;
  flex-shrink: 0;
  margin-left: 6.95vw;
  margin-top: 11.52vh;
}

.register-button {
  text-align: center;
  font-family: "Outfit";
  font-size: 19.767px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  width: 376.244px;
  height: 105.611px;
  flex-shrink: 0;
  border-radius: 33.736px;
  border: 0px;
  background: #3954a5;
  margin-right: 10.90vw;
  margin-top: 50.57vh; 
  cursor: pointer;
}

.star1 {
  width: 75.476px;
  height: 92.547px;
  flex-shrink: 0;
}
